.upperdiv{
 
    background-color: rgb(21, 23, 30);
    color: white;
    padding-bottom: 5%;
}
.mupperdiv{
    margin: 0 15%;
    background-color: rgb(33, 37, 41);  
    padding: 50px 50px 10px 50px;  
}
.mupperdiv img{
    height: 30px;
    width: 35px;
    margin-bottom: 10px;
}
.mupperdiv p{
    margin: 0;
}